.project-wrap{
  .ant-card-head{
    background: #2DAFCB;
  }
  .ant-card-head-title{
    color:#fff;
    font-size: 18px;
    padding:16px 10px;
  }
  .ant-card-extra{
    color: #fff;
  }
  .ant-card-body{
    padding:16px;
  }
}
body{
  background:#f3f3f3
}
